.login-banner{
    background:linear-gradient(0deg, #000000c9 0%, rgba(0, 0, 0, 0.637) 28.71%, rgba(0,0,0,0) 100%),
    url(../../images/login.jpg)no-repeat fixed;
   background-size: cover;
   height: 60vh !important;
   z-index: -1;
}