.parents {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 0px;
    }

    .display-center {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .cabinet-container a{
        text-decoration: none;
        color: black;
    }

    .padding-x {
        padding: 0 212px;
    }

    p.mt-2.text-left {
        text-align: start;
    }

    // .products__image img {
    //     width: 100%;
    //     height: 80vh;
    //     object-fit: cover;

    // }

    .vector-img img {
        width: 200px;
        height: 300px;
        object-fit: contain;
        position: relative;
        right: 20px;
    }