@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  text-transform: uppercase;
  padding: 30px;

}

*{
  margin: 0 !important;
  padding: 0 !important;
  
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 30%;
  margin: 0 auto !important;
}

.data-adding h1{
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 20px !important;
    text-align: center;

}

.data-adding {
  position: relative;
  padding: 40px 0!important;
}

@media (max-width: 990px) {
  form {
    width: 90%;
    
}
}
input {
  width: 100%;
  margin-bottom: 18px !important;
  padding: 17px !important;
  border: 1px solid black;
  text-transform: uppercase;
  color: #767676 !important;
  font-family: 'Montserrat';
  outline: none;
}

.form h1 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px !important;
}
.DataAdd button {
  padding: 19px 30px!important;
  margin-top: 10px !important;
  background: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: white;
  border-radius: 0px;
  cursor: pointer;


}
textarea {
  border: 1px solid black;
  padding: 17px !important;
  text-transform: uppercase;
  font-family: 'Montserrat';
  width: 100%;
  outline: none;
}

.user-introduce {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.user-introduce h1 {
  font-size: 34px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px !important;
}

.user-introduce h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 19px !important;
  letter-spacing: 1px;
}
h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 19px !important;
  letter-spacing: 1px;
  text-align: center;
}
.text-center {
  text-align: center;
}

.text-center button {
  position: relative;
  top: 20vh;
  margin-bottom: 50vh !important;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 20px !important;
}

.data-showing {
  margin: 0 150px !important;
  border: 1px solid black;
  padding: 29px !important;
}

.data-showing h2 {
  font-weight: 500;
  margin-bottom: 13px !important;
}
.data-showing p {
  font-size: 13px;
  line-height: 22px;
}

.data-showing button {
  padding: 14px 30px!important;
  margin-top: 10px !important;
  background: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: white;
  border-radius: 0px;
  cursor: pointer;


}
.data-adding button {
  padding: 14px 30px!important;
  margin-top: 10px !important;
  background: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: white;
  border-radius: 0px;
  cursor: pointer;


}

.data-showing h2 {
  font-weight: 500;
  margin-bottom: 21px !important;
}

/* textarea {
  width: 100%;
  padding: 10px !important;
  border: 1px solid #DDDD;
  outline: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

textarea::placeholder{
  font-family: 'Montserrat', sans-serif;
}

button {
  padding: 16px 27px!important;
  margin-top: 10px !important;
  background: black;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: 'Montserrat';
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
textarea {
    width: 100%;
    padding: 10px !important;
    border: 1px solid #DDDD;
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    font-weight: 400;
    color: #767676;
}


@media (max-width: 990px) {
  body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Montserrat', sans-serif;
    
  
  }
}
.button-div {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  outline: none;
  text-align: center;
  border: 1px solid #545454dd;
  border-radius: 10px;
  padding: 10px !important;
  font-size: 16px;
  font-family: 'Montserrat';
  text-transform: uppercase;
} */

.delete{
  text-align: center;
}
.delete button {
  padding: 10px !important;
  background: none;
  border: 1px solid black;
  position: relative;
  top: 12px;
  text-transform: uppercase;
  font-size: 10px;
  border-radius: 26px;
  cursor: pointer;
}

.FAQContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 0px;
  padding: 0 100px  !important;
  padding-bottom: 100px !important;
  }

  .faq-child {
    border: 1px solid black;
    padding: 24px !important;
    border-radius: 16px;
}

.show-or-hide {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px !important;
}
.faq-child p {
  font-size: 13px;
  line-height: 24px;
}

.show-or-hide button {
  padding: 0px 13px !important;
  font-size: 24px;
  font-weight: 200 !important;
  background: none;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
}

.show-or-hide h2 {
  font-size: 16px;
  font-weight: 600;
}